body,html {
  height: 100%;
}
.f{
  display: flexbox;
  justify-content: center;
  align-items: center;
  padding: 50px 50px 50px 50px; 
  
  box-align: center;
  box-shadow: 10px 10px 8px 10px #888888;
  box-sizing: border-box;
  width: auto;
  height: auto;
}
.stp2{
  box-shadow: 10px 10px 8px 10px #888888;
}

.i1{
  padding: 6px 20px;
  color: #666;
  font-size: 25px;
  font-weight: bold;
}

.i2{
  padding: 6px 10px;
  font-size: 25px;
  color: #666;
}
.h{
  font-size: 40px;
  margin: 50px 0px 0px 180px;
  color: #666;
}

.la1,.la2{
  font-size: 25px;
  font-weight: bold;
  margin-left: 10px;
  color: #666;
}

.b1{
  border: 0px;
  background-color: white;
  color:#FF6F00;
  font-weight: bold;
  font-size: 15px;
}
.fnt{
  font-family: AvantageSmall;
}

.b2{
  border: 0px;
  background-color: white;
  color:#FF6F00;
  font-weight: bold;
  font-size: 15px;
  margin-left: 500px;
}